@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 自定义日期时间输入框样式 */
.datetime-input::-webkit-datetime-edit {
  color: transparent;
}
.datetime-input:focus::-webkit-datetime-edit {
  color: #000;
}
.datetime-input:valid::-webkit-datetime-edit {
  color: #000;
}